streamlit
pandas
google-cloud-aiplatform>=1.70.0
google-api-python-client>=2.100.0
google-auth-httplib2
google-auth-oauthlib
docxtpl
python-docx
python-dotenv
python-magic-bin; platform_system == 'Windows'
python-magic; platform_system != 'Windows'
